body{
	font-family: 'Anton', sans-serif;
	background: #000000;
	color: #2182A3;
}

.tabs ul {
    list-style: none;
	padding:0;
	margin:0;
	right: 5%;
}

.tabs ul li {
    float: left;
    background: #2182A3
    border: 2px #175B72; solid;
    border-bottom-width: 0;
    margin: 0 0.5em 0 0;
    padding: 5px;
}

.tabs a {
	text-decoration: none;
	display: block;
	background: #2182A3;
	padding: 0.24em 1em;
	color: #145266;
	width: 8em;
	text-align: center;
}

.tabs li a {
	padding: 0 1em;
}

.tabs a:hover {
	background: #52A3CC;
}

.tabInner {
    clear: both;
    border: 2px solid #2182A3;
    height: 200px;
    overflow: hidden;
    background: #000000;
}

.tabInner div {
    height: 200px;
    padding: 10px;
    
}

#resources {
    position: fixed;
    background: #000000;
	border-style: solid;
	border-color: #2182A3;
   	border-width: 2px;
			font-family: 'Anton', sans-serif;
			font-size: 18px;
		width: 10%;
		left: 0%;
		top: 0%;
		height: 99%;
	overflow: auto;
}
