body{
	font-family: 'Anton', sans-serif;
	font-size: 22px;
	background: black;
	color: #145266;
}

.save {
	text-decoration: none;
	position: relative;
	display: inline;
	margin-right: 10%;
}
.save a {
	color: #145266;
}

.resources {
	position: absolute;
	border:2px solid #2182A3;
}
.resources p {
	padding-left: 12px;
}
.resources ul {
    list-style: none;
	padding-left: 10px;
	padding-right: 10px;
}

.label {
	color: #2182A3;
	display: inline;
}

.tabs {
	list-style-type: none;
	padding:1;
	margin:0;
	margin-top: 10px;
	margin-left: 12%;
	position:relative;
}
.tabs:after {
	content: "";
	clear:both;
	display:block;
	height:242px;
}
.tabs li {
	float:left;
	margin-left:50px;
}
.tabs li > input {
	display:none;
}
.tabs li > label {
	display:inline-block;
	border:2px solid #2182A3;
	border-bottom-width:0px;
	height:30px;
	line-height:30px;
	padding: 5px 20px;
	cursor:pointer;
}
.tabs .tab-content {
	display:none;
	position:absolute;
	left:0;
	padding:15px;
	border:2px solid #2182A3;
	height:380px;
	width:900px;
	overflow-y:scroll;
}

button
{
	display: inline;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 8px 12px;
	margin: 20px auto;
	color: #145266;
	background-color: #2182A3;
	background: -webkit-linear-gradient(#555;, #888;);
	background: linear-gradient(#888;, #555;);
	border: 0 none;
	border-radius: 1px;
	text-shadow: 0 -1px 0 #000;
	box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
	cursor: pointer;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}
button:hover, button:focus
{
	-webkit-animation: pulsate 1.2s linear infinite;
	animation: pulsate 1.2s linear infinite;
}
button:active
{
	color: #fff;
	text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
	box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-animation: none;
	animation: none;
}

/* Functional */
.tabs li > input:checked + label {
	background-color: #002933
}
.tabs li > input:checked ~ .tab-content {
	display:block;
}

.tabs2 {
	list-style-type: none;
	padding:0;
	margin:0;
	margin-left: 12%;
	margin-top: 10%;
	position:relative;
}
.tabs2:after {
	content: "";
	clear:both;
	display:block;
	height:242px;
}
.tabs2 li {
	float:left;
	margin-top:0px;
	margin-left:50px;
}
.tabs2 li > input {
display:none;
}
.tabs2 li > label {
	display:inline-block;
	border:2px solid #2182A3;
	border-bottom-width:0px;
	height:30px;
	line-height:30px;
	padding: 5px 20px;
	cursor:pointer;
}
.tabs2 .tab-content2 {
	display:none;
	position:absolute;
	left:0;
	padding:15px;
	border:2px solid #2182A3;
	height:380px;
	width:900px;
	overflow-y:scroll;
}

/* Functional */
.tabs2 li > input:checked + label {
	background-color: #002933
}
.tabs2 li > input:checked ~ .tab-content2 {
	display:block;
}

#storytext {
    position: fixed;
    background: black;
	border-style: solid;
	border-color: #2182A3;
   	border-width: 2.5px;
		width: 650px;
		bottom: 50px;
		right: 50px;
		height: 200px;
	overflow: auto;
}

img {
	display: inline-block;
}
