body{
	font-family: 'Anton', sans-serif;
	font-size: 18px;
	background: #000000;
	color: #2182A3;
}

.tabs ul {
    list-style: none;
	padding:0;
		margin-right: 50px;
		margin-left: 250px;
}

.tabs ul li {
    float: left;
    background: #2182A3
    border: 2px #175B72; solid;
    border-bottom-width: 0;
    margin: 0 0.5em 0 0;
    padding: 5px;
}

.tabs a {
	text-decoration: none;
	display: block;
	background: #2182A3;
	padding: 0.24em 1em;
	color: #145266;
	width: 6em;
	text-align: center;
}

.tabs li a {
	padding: 0 1em;
}

.tabs a:hover {
	background: #52A3CC;
}

.tabInner {
    clear: both;
    border: 2px solid #2182A3;
		margin-right: 1px;
		margin-left: 250px;
    height: 400px;
	width: 650px;
    overflow: hidden;
    background: #000000;
}

.tabInner div {
    height: 400px;
    padding: 10px;
    
}

#resources {
    position: fixed;
    background: #000000;
	border-style: solid;
	border-color: #2182A3;
   	border-width: 2.5px;
			font-family: 'Anton', sans-serif;
			font-size: 18px;
		width: 11%;
		left: 0%;
		top: 0%;
		height: 100%;
	overflow: auto;
}

#storytext {
    position: fixed;
    background: #000000;
	border-style: solid;
	border-color: #2182A3;
   	border-width: 2.5px;
			font-family: 'Anton', sans-serif;
			font-size: 18px;
		width: 650px;
		left: 258px;
		bottom: 230px;
		right: 300px;
		top: 500px;
		height: 200px;
	overflow: auto;
}

#locations {
	font-size: 18px;
}

.label {
	display: inline;
}

.resource ul {
    list-style: none;
	padding:0;
}

